
h1{
    color:red}

a{
    text-decoration: none;
    
}

img{
    max-width: 100%;
}
body{
    font-family: 'open sans', sans-serif;
}

#wrapper{
    
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img{
    max-width: 100%;
}

h3{
    margin: 0 0 1em 0;
}

header{
    
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo{
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}
h2{
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
#gallery{
    margin: 0;
    padding:  0;
    list-style: none;
}
#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #red;
    color: #bdc3c7
}
#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color:black
}
.profile-photo{
    display: block;
    max-width:0 auto 30px    ;
    border-radius: 15%;
    
}

body{
    background-color: white;
    color:#999;
}


a{
    color: #6ab47b;
}
header{
    background: #FA0000;
}
h1,h2{
    color: #000000;
}
nav{
    background: #0000ff;
}

nav a,nav a:visited{
    color:#fff;
}
nav a.selected, nav a :hover {
    color: #32673f;
}
nav ul{
    list-style:none ;
        padding: 10px 0;
        margin: 0 10px;
}
nav li {
    display: inline-block;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
    
}